.star{display:inline-block;width:16px;height:16px;background:url(star_s.png) no-repeat 0 0;}
.check{display:inline-block;width:16px;height:16px;background:url(check.png) no-repeat 0 0;}

.off{background-position:0px 0px;}
.on{background-position:-16px 0px;}
.off:hover{background-position:0px -16px;}
.on:hover{background-position:-16px -16px;}

.balloon{display:inline-block;width:32px;height:32px;background:url(balloon.png) no-repeat 0 0;}
.balloon.off{background-position:0px 0px;}
.balloon.on{background-position:-32px 0px;}
.balloon.off:hover{background-position:0px 0px;}
.balloon.on:hover{background-position:-32px 0px;}