/*------------------------------------------------------- Temporary CSS for demo*/

body {
	font-family: arial;
} 

h2 {
	font-size: 1.6em;
	font-weight: normal;
}

.dropdown-menu {
	border: 1px solid gray;
	padding: 5px;
}

/*------------------------------------------------------- Common CSS (ade.css) */

/*Popup (AKA Dropdown Menu)*/
.ade-popup {
	position: absolute;
	min-width: 200px;
	max-width: 450px;
}

.ade-hidden {
	width: 0;
	height:0;
	overflow: hidden;
} 

.dropdown-menu {
	position: absolute;
	z-index: 1000;
	background-color: #ffffff;
	background-clip: padding-box;
}

.ade-popup.dropdown-menu.open,
.ade-nopop {
	display:inline-block;
	padding: 15px;
	border-radius:4px;
	white-space:normal;
	font-weight:normal;
}

.ade-popup.dropdown-menu:before { /*Arrow Up Shadow*/
	border-bottom: 9px solid rgba(0, 0, 0, 0.3);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	content: "";
	left: 11px;
	position: absolute;
	top: -10px;
}

.ade-popup.dropdown-menu.flip:before { /*Arrow Down Shadow*/
	border-bottom: 0px; 
	border-top: 9px solid rgba(0, 0, 0, 0.3);
	top: auto;
	bottom: -10px;
}

.ade-popup.dropdown-menu:after { /*Arrow Up Fill*/
	border-bottom: 9px solid #FAFAFA;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	content: "";
	left: 9px;
	position: absolute;
	top: -9px;
}

.ade-popup.dropdown-menu.flip:after { /*Arrow Down Fill*/
	border-bottom: 0px; 
	border-top: 9px solid #FAFAFA;
	top: auto;
	bottom: -9px;
}

.ade-popup.dropdown-menu.rarrow:before {
	left: auto; 
	right:6px;
}
.ade-popup.dropdown-menu.rarrow:after {
	left: auto; 
	right:7px;
}

.ade-popup span,.ade-nopop span{
	padding:3px;
	margin:0;
	cursor:pointer;
}

@media screen and (max-width: 480px) { /* popup goes full width on small screens */
	.ade-popup.dropdown-menu.open {
		width: auto;
	}
	.ade-popup.dropdown-menu:before,
	.ade-popup.dropdown-menu:after,
	.ade-popup.dropdown-menu.flip:before,
	.ade-popup.dropdown-menu.flip:after {
		display:none; 
		border: 0px;
	}
}



/*------------------------------------------------------- Toodledo Skin for Ade input */

/*Overwrites*/
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/*Inputs*/
.input-large,
.input-medium,
.ade-input {
	border: 2px solid transparent;
}

.input-large:focus,
.input-medium:focus,
.ade-input:focus {
	border: 2px solid #1B75BC;
}

.input-large,
.input-large:focus,
.input-medium,
.input-medium:focus,
.ade-input,
.ade-input:focus {
	line-height: 1.8em;
	height: 1.8em;
	padding: 0 .5em;
	font-size: 1em;
}

/*Popovers (AKA dropdown-menu)*/
.dropdown-menu {
	background-color: #FAFAFA;
	border: 0px;
	padding: 10px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;	
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

.ade-popup.dropdown-menu {
	font-size: .9em;
	color: #333;
}

.ade-popup.dropdown-menu:before { /*Up Arrow*/
  	border-bottom: 9px solid #E4E6E9;
}

.ade-popup.dropdown-menu:after { /*Up Arrow*/
  	border-bottom: 9px solid #FAFAFA;
}

.ade-popup.dropdown-menu.open,
.ade-nopop {
	border-radius: 0;
}



/*Old CSS */


/* Popups Directive */





/* Icon Directive 
.ade-icon{cursor:pointer; width:14px; height:16px; color: #000; display:inline-block; text-align: center;}
.ade-icon.icon-ban-circle{color:#999;}
.ade-popup a.ade-clear,.ade-nopop a.ade-clear{cursor:pointer;background:none;float:right;padding:3px 0px;margin:-30px 0 0 0;color:#08c;font-size:12px;}
.ade-icons span { width:14px; height:16px;display:inline-block; text-align: center;}
.ade-icons span.selected { background-color: #B9D3F8;}
@media screen and (max-width: 480px) {
	.ade-icon{font-size: 1.3em; }
	.ade-icons span { width:30px; height:30px;}
}
.ade-nopop {
	border:1px solid #ccc;
}

/* Link Popup */
.ade-links.dropdown-menu.open{padding:4px;}
.ade-links a{display:inline-block;padding:0 6px;color:#fff;}
.ade-links .icon.icon-remove{margin:3px 0 0 0;}
@media screen and (max-width: 480px) {
	.ade-links.dropdown-menu.open{min-width: 180px;}
	.ade-links a{margin:0px 10px; padding:2px 10px;}
}

/* Rich text Directive */
.ade-rich { position:absolute;}
.ade-rich.dropdown-menu.open{padding:5px 10px;width:auto;max-width:500px;}
.ade-rich .ade-richview { max-height:200px; overflow:auto;}
.ade-rich textarea{margin-top:15px;width:279px;line-height:16px;min-height:50px; max-height:400px;}
.ade-rich .mce-colorbutton span {padding:0px;}
.ade-hasTouch .mce-tinymce .mce-edit-area {padding-top: 40px; }
@media screen and (max-width: 480px) {
	.ade-rich.dropdown-menu.open{padding:5px 10px;width:92%;}
	div.mce-fullscreen { bottom:0;}
}

/* Rating/Star Directives */
.ade-rating{position:relative;overflow:hidden;z-index:1;height:16px;padding-right:10px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.ade-rating .ade-rate-container{position:relative;left:0;z-index:3;height:16px;}
.ade-rating .ade-rate-one{width:16px;height:16px;display:inline-block;cursor:pointer;text-decoration:none;}
.ade-rating .ade-rate { color: #000;}
.ade-rating .ade-rate-empty { color: #666;}
.ade-rating.ade-editable.ade-hover .ade-rate-container:hover .ade-rate-empty{color: #000;}
.ade-rating.ade-editable.ade-hover .ade-rate:hover { color: #000;}
.ade-rating.ade-editable.ade-hover .ade-rate-empty:hover { color: #000;}
.ade-rating.ade-editable.ade-hover .ade-rate:hover~.ade-rate,
.ade-rating.ade-editable.ade-hover .ade-zero:hover~.ade-rate { color: #999;}
.ade-rating.ade-editable.ade-hover .ade-rate-empty:hover~.ade-rate-empty,
.ade-rating.ade-editable.ade-hover .ade-rate:hover~.ade-rate-empty,
.ade-rating.ade-editable.ade-hover .ade-zero:hover~.ade-rate-empty { color: #666;}

.ade-rate-one.ade-zero{background:none;width:10px;vertical-align:top;}
.ade-rate-one.ade-zero{text-decoration:none;}

/* Toggle Directive */
.ade-toggle{display:inline-block;width:16px;height:16px;cursor:pointer;color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.ade-toggle.ade-editable.ade-hover:hover{color: #666;}

/* Toggle Multi */
.ade-multi{display:inline-block;width:16px;height:16px;cursor:pointer;color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.ade-multi.ade-editable.ade-hover:hover{color: #666;}


/* Date Directive */
.datepicker { min-width:210px; }
.ade-date-popup p{margin:5px 0 0 0;}
.input-append.ade-date-popup .add-on i, .input-prepend.ade-date-popup .add-on i { display: block; cursor: pointer; width: 16px; height: 16px; }
@media screen and (max-width: 480px) {
	.dropdown-menu {left:5px;width:94%;}
	.datepicker:before,
	.datepicker:after,
	.datepicker.flipped:before,
	.datepicker.flipped:after {display:none; border: 0px;}
}
