/* Popups Directive */
.ade-hidden{width: 0;height:0;overflow: hidden;}
.ade-popup.dropdown-menu.open{display:inline-block;padding:0 10px 5px 10px;border-radius:4px;width:200px;white-space:normal;font-weight:normal;}
.ade-popup.dropdown-menu:before {border-bottom: 7px solid rgba(0, 0, 0, 0.3);border-left: 7px solid transparent;border-right: 7px solid transparent;content: "";left: 6px;position: absolute;top: -7px;}
.ade-popup.dropdown-menu:after {border-bottom: 6px solid #FFF;border-left: 6px solid transparent;border-right: 6px solid transparent;content: "";left: 7px;position: absolute;top: -6px;}
.ade-popup.dropdown-menu.flip:before {border-bottom:0px; border-top: 7px solid rgba(0, 0, 0, 0.3);top:auto;bottom:-7px;}
.ade-popup.dropdown-menu.flip:after {border-bottom:0px; border-top: 6px solid #FFF;top:auto;bottom:-6px;}

.ade-popup span{padding:3px;margin:0;cursor:pointer;}

/* Icon Directive */
.ade-icon{cursor:pointer; width:14px; height:16px; color: #000; display:inline-block; text-align: center;}
.ade-icon.icon-ban-circle{color:#999;}
.ade-popup a.ade-clear{background:none;float:right;padding:3px 0px;margin:-30px 0 0 0;color:#08c;font-size:12px;}
.ade-icons span { width:14px; height:16px;display:inline-block; text-align: center;}

/* Lists */

/* Link Popup */
.ade-links.dropdown-menu.open{padding:4px;}
.ade-links a{display:inline-block;padding:0 6px;color:#fff;}
.ade-links .icon.icon-remove{margin:3px 0 0 0;}

/* Rich text Directive */
.ade-rich.dropdown-menu.open{padding:5px 10px;min-width:289px;width:auto;max-width:480px;}
.ade-rich .ade-richview { max-height:200px; overflow:auto;}
.ade-rich textarea{margin-top:15px;width:279px;line-height:16px;min-height:50px; max-height:400px;}
.ade-rich .mce-colorbutton span {padding:0px;}

/* Rating/Star Directives */
.ade-rating{position:relative;overflow:hidden;z-index:1;height:23px;padding-right:10px;}
.ade-rating .ade-rate-container{position:relative;left:0;z-index:3;height:23px;}
.ade-rating .ade-rate-container:hover .ade-off{background-position:-23px -23px;}
.ade-rating .ade-rate-one{width:23px;height:23px;display:inline-block;cursor:pointer;background: url(adeImg/star.png) 0 0;}
.ade-rating .ade-on{background-position:-23px 0;}
.ade-rating .ade-on:hover{background-position:-23px -23px;}
.ade-rating .ade-off:hover{background-position:0 -23px;}
.ade-rating .ade-off:hover~.ade-off,
.ade-rating .ade-on:hover~.ade-on,
.ade-rating .ade-on:hover~.ade-off,
.ade-rating .ade-zero:hover~.ade-off,
.ade-rating .ade-zero:hover~.ade-on{background-position:0 0;}

.ade-rating_s{position:relative;overflow:hidden;z-index:1;height:16px;padding-right:10px;}
.ade-rating_s .ade-rate-container{position:relative;left:0;z-index:3;height:16px;}
.ade-rating_s .ade-rate-container:hover .ade-off{background-position:-16px -16px;}
.ade-rating_s .ade-rate-one{width:16px;height:16px;display:inline-block;cursor:pointer;background: url(adeImg/star_s.png) 0 0;}
.ade-rating_s .ade-on{background-position:-16px 0;}
.ade-rating_s .ade-on:hover{background-position:-16px -16px;}
.ade-rating_s .ade-off:hover{background-position:-16px -16px;}
.ade-rating_s .ade-off:hover~.ade-off,
.ade-rating_s .ade-on:hover~.ade-on,
.ade-rating_s .ade-on:hover~.ade-off,
.ade-rating_s .ade-zero:hover~.ade-off,
.ade-rating_s .ade-zero:hover~.ade-on{background-position:0 0;}

.ade-rate-one.ade-zero{background:none;width:10px;vertical-align:top;}
.ade-rate-one.ade-zero{text-decoration:none;}

/* Toggle Directive */
.ade-star{display:inline-block;width:16px;height:16px;background:url(adeImg/star_s.png) no-repeat 0 0;cursor:pointer;}
.ade-check{display:inline-block;width:16px;height:16px;background:url(adeImg/check.png) no-repeat 0 0;cursor:pointer;}

.ade-off{background-position:0px 0px;}
.ade-on{background-position:-16px 0px;}
.ade-off:hover{background-position:0px -16px;}
.ade-on:hover{background-position:-16px -16px;}

.datepicker { min-width:210px; }