.ade-editable{background-color: #eee; width:200px; height:20px; padding:3px; cursor:pointer;}
/* Icon Directive */
.ade-icon-container,.ade-link-container{position:relative;display:inline-block;cursor:pointer;}
.ade-icons-popup.dropdown-menu,.ade-link-popup.dropdown-menu{display:inline-block;padding:0 10px 5px 10px;border-radius:4px;width:200px;left:-7px;}
.ade-icons-popup.dropdown-menu:before,.ade-link-popup.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;}
.ade-icons-popup.dropdown-menu:after,.ade-link-popup.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;}
.ade-icons-popup span{padding:3px;margin:0;}

/* Link Popup */
.ade-link-popup.dropdown-menu{display:inline-block;padding:4px;border-radius:4px;width:200px;}
.ade-link-popup a{display:inline;padding:0;color:inherit;}

/* Rating/Star Directives */
.ade-rating{position:relative;overflow:hidden;z-index:1;height:23px;}
.ade-rating .ade-rate-container{position:relative;left:0;z-index:3;height:23px;}
.ade-rating .ade-rate-container:hover .ade-off{background-position:-23px -23px;}
.ade-rating .ade-rate-one{width:23px;height:23px;display:inline-block;cursor:pointer;background: url(adeImg/star.png) 0 0;}
.ade-rating .ade-on{background-position:-23px 0;}
.ade-rating .ade-on:hover{background-position:-23px -23px;}
.ade-rating .ade-off:hover{background-position:0 -23px;}
.ade-rating .ade-off:hover~.ade-off,.ade-rating .ade-on:hover~.ade-on,.ade-rating .ade-on:hover~.ade-off{background-position:0 0;}

.ade-rating_s{position:relative;overflow:hidden;z-index:1;height:16px;}
.ade-rating_s .ade-rate-container{position:relative;left:0;z-index:3;height:16px;}
.ade-rating_s .ade-rate-container:hover .ade-off{background-position:-16px -16px;}
.ade-rating_s .ade-rate-one{width:16px;height:16px;display:inline-block;cursor:pointer;background: url(adeImg/star_s.png) 0 0;}
.ade-rating_s .ade-on{background-position:-16px 0;}
.ade-rating_s .ade-on:hover{background-position:-16px -16px;}
.ade-rating_s .ade-off:hover{background-position:-16px -16px;}
.ade-rating_s .ade-off:hover~.ade-off,.ade-rating_s .ade-on:hover~.ade-on,.ade-rating_s .ade-on:hover~.ade-off{background-position:0 0;}

/* Toggle Directive */
.ade-star{display:inline-block;width:16px;height:16px;background:url(adeImg/star_s.png) no-repeat 0 0;cursor:pointer;}
.ade-check{display:inline-block;width:16px;height:16px;background:url(adeImg/check.png) no-repeat 0 0;cursor:pointer;}

.ade-off{background-position:0px 0px;}
.ade-on{background-position:-16px 0px;}
.ade-off:hover{background-position:0px -16px;}
.ade-on:hover{background-position:-16px -16px;}