
/*Inputs*/
.ade-input,
.ade-input:focus {
	line-height: 1.7em;
	height: 1.7em;
	padding: 0 .4em;
	font-size: .85em;
}

/*Popup (AKA Dropdown Menu)*/
.ade-popup {
	position: absolute;
	min-width: 200px;
	max-width: 450px;
}

.ade-hidden {
	width: 0;
	height:0;
	overflow: hidden;
} 

.dropdown-menu {
	position: absolute;
	z-index: 1000;
	background-color: #ffffff;
	background-clip: padding-box;
}

.ade-popup.dropdown-menu.open {
	display:inline-block;
	border-radius:4px;
	white-space:normal;
	font-weight:normal;
}

.ade-popup.dropdown-menu:before { /*Arrow Up Shadow*/
	border-bottom: 9px solid rgba(0, 0, 0, 1);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	content: "";
	left: 9px;
	position: absolute;
	top: -10px;
}

.ade-popup.dropdown-menu.flip:before { /*Arrow Down Shadow*/
	border-bottom: 0px; 
	border-top: 9px solid rgba(0, 0, 0, 1);
	top: auto;
	bottom: -10px;
}

.ade-popup.dropdown-menu:after { /*Arrow Up Fill*/
	border-bottom: 9px solid #FAFAFA;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	content: "";
	left: 9px;
	position: absolute;
	top: -9px;
}

.ade-popup.dropdown-menu.flip:after { /*Arrow Down Fill*/
	border-bottom: 0px; 
	border-top: 9px solid #FAFAFA;
	top: auto;
	bottom: -9px;
}

.ade-popup.dropdown-menu.rarrow:before {
	left: auto; 
	right:6px;
}
.ade-popup.dropdown-menu.rarrow:after {
	left: auto; 
	right:7px;
}

.ade-popup span {
	padding:3px;
	margin:0;
	cursor:pointer;
}

@media screen and (max-width: 480px) { /* popup goes full width on small screens */
	.ade-popup.dropdown-menu.open {
		width: auto;
	}
	.ade-popup.dropdown-menu:before,
	.ade-popup.dropdown-menu:after,
	.ade-popup.dropdown-menu.flip:before,
	.ade-popup.dropdown-menu.flip:after {
		display:none; 
		border: 0px;
	}
}

/*Links*/
.ade-edit-link {
	color: blue;
	text-decoration: underline;
}
.ade-edit-link:hover {
	cursor: pointer;
}

/* Rating/Star Directives */
.ade-rating{position:relative;overflow:hidden;z-index:1;height:16px;padding-right:10px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.ade-rating .ade-rate-container{position:relative;left:0;z-index:3;height:16px;}
.ade-rating .ade-rate-one{width:16px;height:16px;display:inline-block;cursor:pointer;text-decoration:none;}
.ade-rating .ade-rate { color: #000;}
.ade-rating .ade-rate-empty { color: #666;}
.ade-rating.ade-editable.ade-hover .ade-rate-container:hover .ade-rate-empty{color: #000;}
.ade-rating.ade-editable.ade-hover .ade-rate:hover { color: #000;}
.ade-rating.ade-editable.ade-hover .ade-rate-empty:hover { color: #000;}
.ade-rating.ade-editable.ade-hover .ade-rate:hover~.ade-rate,
.ade-rating.ade-editable.ade-hover .ade-zero:hover~.ade-rate { color: #999;}
.ade-rating.ade-editable.ade-hover .ade-rate-empty:hover~.ade-rate-empty,
.ade-rating.ade-editable.ade-hover .ade-rate:hover~.ade-rate-empty,
.ade-rating.ade-editable.ade-hover .ade-zero:hover~.ade-rate-empty { color: #666;}
.ade-rate-one.ade-zero{background:none;width:10px;vertical-align:top;}
.ade-rate-one.ade-zero{text-decoration:none;}

/* Toggle Directive */
.ade-toggle{display:inline-block;width:16px;height:16px;cursor:pointer;color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.ade-toggle.ade-editable.ade-hover:hover{color: #666;}

/* Toggle Multi */
.ade-multi{display:inline-block;width:16px;height:16px;cursor:pointer;color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.ade-multi.ade-editable.ade-hover:hover{color: #666;}

/* Icon Directive */
.ade-icons { max-width:200px;}
.ade-icon{cursor:pointer; width:14px; height:16px; color: #000; display:inline-block; text-align: center;}
.ade-icons h4 {margin:0px;}
.ade-icon.icon-ban-circle{color:#999;}
.ade-nopop {
	padding:8px;
	border:1px solid #ccc;
}
.ade-nopop span {
	padding:3px;
	margin:0;
	cursor:pointer;
}
.ade-popup a.ade-clear,.ade-nopop a.ade-clear{cursor:pointer;background:none;float:right;padding:3px 0px;margin:-30px 0 0 0;color:#08c;font-size:12px;}
.ade-icons span { width:14px; height:16px;display:inline-block; text-align: center;}
.ade-icons span.selected { background-color: #B9D3F8;}
@media screen and (max-width: 480px) {
	.ade-icon{font-size: 1.3em; }
	.ade-icons span { width:30px; height:30px;}
}