/*--------------------------------------- Inputs*/
.ade-input,
.ade-input:focus {
    line-height: 1.7em;
    height: 1.7em;
    padding: 0 .4em;
    font-size: 1em;
}

.ade-input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.ade-input:hover {
    cursor: pointer;
    color: #1B75BC;
}

.ade-input:focus:hover {
    cursor: text;
    color: #333;
}

.ade-focus:focus {
    border: 1px solid #1B75BC;    
}

/*-------------------------------------- Popups*/
.ade-popup {
    position: absolute;
    min-width: 200px;
    max-width: 450px;
}

.ade-hidden {
    width: 0;
    height: 0;
    overflow: hidden;
}

.dropdown-menu,
.ade-nopop {
    position: fixed;
    z-index: 1000;
    background-clip: padding-box;
    background-color: #FAFAFA;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

.ade-nopop {
    position: relative;
    z-index: inherit;
}

.ade-popup.dropdown-menu {
    font-size: .9em;
    color: #333;
}

.ade-popup.dropdown-menu.open {
    display: inline-block;
    border-radius: 0;
    white-space: normal;
    font-weight: normal;
}

/* To enable arrows on popups that point to the thing being edited, take out the X's */
.Xade-popup.dropdown-menu:before {
    /*Arrow Up Shadow*/
    border-bottom: 9px solid #bbb;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    left: 9px;
    position: absolute;
    top: -10px;
}

.Xade-popup.dropdown-menu.flip:before {
    /*Arrow Down Shadow*/    
    border-bottom: 0px;
    border-top: 9px solid rgba(0, 0, 0, 1);
    top: auto;
    bottom: -10px;
}

.Xade-popup.dropdown-menu:after {
    /*Arrow Up Fill*/  
    border-bottom: 9px solid #FAFAFA;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    left: 9px;
    position: absolute;
    top: -9px;
}

.Xade-popup.dropdown-menu.flip:before {
    /*Arrow Down Shadow*/    
    border-bottom: 0px;
    border-top: 9px solid rgba(0, 0, 0, 0.3);
    top: auto;
    bottom: -10px;
}

.Xade-popup.dropdown-menu.flip:after {
    /*Arrow Down Fill*/    
    border-bottom: 0px;
    border-top: 9px solid #FAFAFA;
    top: auto;
    bottom: -9px;
}

.Xade-popup.dropdown-menu.rarrow:before {
    /*Arrow on right side (shadow) */
    left: auto;
    right: 24px;
}

.Xade-popup.dropdown-menu.rarrow:after {
    /*Arrow on right side (fill) */
    left: auto;
    right: 25px;
}

.ade-popup span {
    padding: 3px;
    margin: 0;
    cursor: pointer;
}

.ade-popup .ade-edit-link {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    /* popup goes full width on small screens */  
    .dropdown-menu,
    .ade-nopop {
        padding: 3%;
        width:91%;
    }

    .ade-popup.dropdown-menu:before,
    .ade-popup.dropdown-menu:after,
    .ade-popup.dropdown-menu.flip:before,
    .ade-popup.dropdown-menu.flip:after {
        display: none;
        border: 0px;
    }
}

/*--------------------------------------  Rich text Directive */
.ade-rich {
    z-index: 99;
    max-width: 500px;
}

.ade-rich .ade-content,
.ade-rich .ade-content.ade-editing {
    background-color: #fff;
    border: 1px solid #E4E6E9;
    padding: 4px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

.ade-rich .ade-content {
    position: fixed;
    z-index: 99;
    display: block;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width .2s, height .2s, min-width .2s, min-height .2s;
}

.ade-rich .ade-content.ade-editing {
    min-height: 200px;
    min-width: 350px;
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
}

.ade-rich .ade-toolbar {
    z-index: 100;
    position: fixed;
    height: 30px;
    background-color: #fafafa;
    border: 1px solid #E4E6E9;
    padding: 2px;
    left: -1px;/*
    background-color: #f0f0f0;
    border: 1px solid #9e9e9e;*/
}

.ade-rich .ade-content p {
    margin: 0px 0px 10px 0px;
}

.ade-rich .ade-content.ade-hover {
    min-height: 200px;
    min-width: 350px;
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
}

.ade-rich .mce-colorbutton span {
    padding: 0px;
}



.ade-rich .mce-edit-focus {
    outline: none;
}

.ade-rich .ade-toolbar .mce-panel {
    border: 0;
    display: block !important;
}

.ade-rich .mce-i-cancel {
    text-align: center;
}

.ade-rich .mce-i-cancel:before {
    font-family: Arial;
    content: " ×";
}

.ade-rich .mce-btn button {
    padding: 2px 4px;
}

.ade-rich-hide {
    visibility: hidden;
}

/* Rating/Star Directives */
.ade-rating {
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 16px;
    padding-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ade-rating .ade-rate-container {
    position: relative;
    left: 0;
    z-index: 3;
    height: 16px;
}

.ade-rating .ade-rate-one {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.ade-rating .ade-rate {
    color: #000;
}

.ade-rating .ade-rate-empty {
    color: #666;
}

.ade-rating.ade-editable.ade-hover .ade-rate-container:hover .ade-rate-empty {
    color: #000;
}

.ade-rating.ade-editable.ade-hover .ade-rate:hover {
    color: #000;
}

.ade-rating.ade-editable.ade-hover .ade-rate-empty:hover {
    color: #000;
}

.ade-rating.ade-editable.ade-hover .ade-rate:hover~.ade-rate,
.ade-rating.ade-editable.ade-hover .ade-zero:hover~.ade-rate {
    color: #999;
}

.ade-rating.ade-editable.ade-hover .ade-rate-empty:hover~.ade-rate-empty,
.ade-rating.ade-editable.ade-hover .ade-rate:hover~.ade-rate-empty,
.ade-rating.ade-editable.ade-hover .ade-zero:hover~.ade-rate-empty {
    color: #666;
}

.ade-rate-one.ade-zero {
    background: none;
    width: 10px;
    vertical-align: top;
}

.ade-rate-one.ade-zero {
    text-decoration: none;
}

/*--------------------------------------  Toggle Directive */
.ade-toggle {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ade-toggle.ade-editable.ade-hover:hover {
    color: #666;
}

/*--------------------------------------  Toggle Multi */
.ade-multi {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ade-multi.ade-editable.ade-hover:hover {
    color: #666;
}

/*--------------------------------------  Icon Directive */
.ade-popup.dropdown-menu.open h2,
.ade-nopop h2 {
    font-size: 1.3em;
    margin: 10px 0;
}

.ade-icons .remove {
    display: block;
    margin: 10px 0;
}

.ade-icons .remove:before {
    margin-right: 3px;
}

.ade-icons {
    width: 390px;
}

.ade-icons .ade-icon {
    font-size: 18px;
    height: 27px;
    width: 27px;
    line-height: 27px;
    text-align: center;
    display: inline-block;
    color: #747369;
    background-color: white;
    border: 1px solid #E4E6E9;
    margin: 2px;
    cursor: pointer;
}

.ade-icons .ade-icon:hover {
    color: #000;
    cursor: pointer;
}

.ade-icons h4 {
    margin: 0px;
}

.ade-icon.icon-ban-circle {
    color: #999;
}

.ade-nopop span {
    padding: 3px;
    margin: 0;
    cursor: pointer;
}

.ade-popup a.ade-clear,
.ade-nopop a.ade-clear {
    cursor: pointer;
    background: none;
    float: right;
    padding: 3px 0px;
    margin: -30px 0 0 0;
    color: #08c;
    font-size: 12px;
}

.ade-icons span {
    width: 14px;
    height: 16px;
    display: inline-block;
    text-align: center;
}

.ade-icons span.selected {
    color: #1B75BC;
}

.ade-icons span.selected:hover {
    color: #1B75BC;
}

@media screen and (max-width: 480px) {
    .ade-icons {
      width:91%;
    }
    .ade-icon {
        font-size: 1.3em;
    }
    .ade-icons span {
        width: 30px;
        height: 30px;
    }
}


/*--------------------------------------  Color Directive */

.ade-color {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #333;
}
.ade-color-picker {
    width: 292px;
}

.ade-color-picker h4 {
    margin: 0;
}

.ade-color-gradient {
    position: relative;
    display: inline-block;
    width: 256px;
    height: 256px;
    cursor: pointer;
    background-color: red;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -ms-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
}

.ade-color-gradient-sat {
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
    background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -ms-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}

.ade-color-spot {
    border-radius: 50%;
    height: 6px;
    width: 6px;;
    background: #333;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
}

.ade-color-hue {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 256px;
    margin-left: 10px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAEACAYAAACzuVY0AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEUSURBVHja7NzRDoIwDIXhFhm78P0f1QtGtMQ30Hgkhf48wJcd2g6XJXpYe5jw8bB7KMHZbDFAQMArgE0NdooCSGMzekT+T2Q2hwpgr9eH4sjxNpXgMAMEBAQ8ANzU4EpRqHKCFY56kSlKhciAFcB6je2ThfQKye0W4jupRfwOTwB2NdjqvUPAhG3TKUqBWe70IX14xaIQmd2GKrMfHlFlt5f6JOWbOLINwHygvMorRQGkD4lM5KqjN9JXmdFjUi7Zh/wU+fkkFbP2ksvDtEcz8WEUEBAQEBAwMdjUYCdyvhUuRAYEBDxklqenGBQfRgEBAT8ENzW4EjnfCgeRiUxkIp8TzF8UvnpsDl8/Hm7SvyvcBRgA4vmR5OGDm0sAAAAASUVORK5CYII=");
    cursor: pointer;
}

.ade-color-hue-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    border: solid 1px #000;
    cursor: pointer;
    margin-top: -2px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Stock Ticker */
.ade-stock-arrow,
.ade-stock-arrow > path,
.ade-stock-arrow + span {
    opacity: 0;
}
.ade-stock-up .ade-stock-arrow,
.ade-stock-down .ade-stock-arrow {
    opacity: 1;
    vertical-align: bottom;
    margin-left: 5px;
}
.ade-stock-up .ade-arrow-up,
.ade-stock-up .ade-stock-arrow + span {
    color: green;
    fill: green;
    opacity: 1;
}
.ade-stock-down .ade-arrow-down,
.ade-stock-down .ade-stock-arrow + span {
    color: red;
    fill: red;
    opacity: 1;
}
.ade-stock-no-data {
    padding-left: 5px;
    color: #666;
}
