/* Icon Directive */
.icons-holder{position:relative;}
.icons-holder span{cursor:pointer;}
.icons-popup.dropdown-menu{display:inline-block;padding:0 10px 5px 10px;border-radius:4px;width:200px;left:-7px;}
.icons-popup.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;}
.icons-popup.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;}
.icons-popup span{padding:3px;margin:0;}

/* Rating/Star Directives */
.rating{position:relative;overflow:hidden;z-index:1;height:23px;}
.rating .stars{position:relative;left:0;z-index:3;height:23px;}
.rating .stars:hover .off{background-position:-23px -23px;}
.rating .star{width:23px;height:23px;display:inline-block;cursor:pointer;background: url(img/star.png) 0 0;}
.rating .on{background-position:-23px 0;}
.rating .on:hover{background-position:-23px -23px;}
.rating .off:hover{background-position:0 -23px;}
.rating .off:hover~.off,.rating .on:hover~.on,.rating .on:hover~.off{background-position:0 0;}

.rating_s{position:relative;overflow:hidden;z-index:1;height:16px;}
.rating_s .stars{position:relative;left:0;z-index:3;height:16px;}
.rating_s .stars:hover .off{background-position:-16px -16px;}
.rating_s .star{width:16px;height:16px;display:inline-block;cursor:pointer;background: url(img/star_s.png) 0 0;}
.rating_s .star.on{background-position:-16px 0;}
.rating_s .on:hover{background-position:-16px -16px;}
.rating_s .off:hover{background-position:-16px -16px;}
.rating_s .off:hover~.off,.rating_s .on:hover~.on,.rating_s .on:hover~.off{ background-position:0 0;}

/* Toggle Directive */
.star{display:inline-block;width:16px;height:16px;background:url(img/star_s.png) no-repeat 0 0;}
.check{display:inline-block;width:16px;height:16px;background:url(img/check.png) no-repeat 0 0;}

.off{background-position:0px 0px;}
.on{background-position:-16px 0px;}
.off:hover{background-position:0px -16px;}
.on:hover{background-position:-16px -16px;}

.balloon{display:inline-block;width:32px;height:32px;background:url(img/balloon.png) no-repeat 0 0;}
.balloon.off{background-position:0px 0px;}
.balloon.on{background-position:-32px 0px;}
.balloon.off:hover{background-position:0px 0px;}
.balloon.on:hover{background-position:-32px 0px;}