body {
  margin: 0;
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
}

.dropdown-menu {
	border: 1px solid gray;
	padding: 5px;
}

h1 { margin:20px 0px 20px 0px;}
.container > p { margin:10px 0px 20px 0px;}
td {vertical-align: top;}
.ade-editme{ display: block; margin:4px 0px 4px 0px; white-space: nowrap; background-color: #eee; width:200px; height:20px; padding:3px; cursor:pointer; overflow:hidden; text-overflow:ellipsis;}
.ade-editrich{display: block; margin:0px; border:1px solid transparent; white-space: nowrap; background-color: #eee; width:200px; height:20px; padding:3px; cursor:pointer; overflow:hidden; text-overflow:ellipsis;}

.container { margin-bottom:200px; margin-right:auto; margin-left:auto; width:90%; max-width:700px;}
.github { position: absolute; top: 0; right: 0; border: 0; }
.sample { background-color: #eee; height:19px; padding:10px; cursor:pointer; display:inline-block;}
.sample-rich { background-color: #eee; height:19px; padding:4px; cursor:pointer; display:inline-block;}
.sample-rich p { margin:0px 0px 10px 0px;}


.ade-tag-input, .ade-list-input { display: inline-block; }

input[type="text"] {
	
}

.sample + input,.sample + input:focus {
	margin:8px 0px 0px 4px;
	padding:2px;
}
