/* Toodledo Skin for ADE Input */

/*------------------------------------------------------- Demo */
#demo.container {
  width: 96%;
  margin: 2%;
} 
#demo .internal-box {
  max-width: 630px;
}
#demo h5 {
  margin: 20px 0 0 0;
}
#demo label {
  font-weight: bold;
  font-size: .75em;
  margin-right: 10px;
  color: #747369;
}
#demo .input-examples span {
  list-style: none;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  display: block;
}
#demo .unfinished:before {
  content: '*';
  color: red;
}

/*------------------------------------------------------- Datepicker */
.datepicker th.next,
.datepicker th.prev {
	background-color: rgba(163,197,246,.5);
	color: #1b75bc;
  line-height: 25px;
  overflow:hidden;
	  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}


.datepicker .arw:before,
.datepicker .arw-l:before {
  font-size: 10px;
}

.datepicker th.next:hover,
.datepicker th.prev:hover {
	background-color: rgba(163,197,246,1);
}

.datepicker th.switch {
	color: #1b75bc;
}

.datepicker th.switch:hover {
	text-decoration: underline;
}

.datepicker td.day.active { /*Selected Item*/
	background-color: #1b75bc;
	color: #fafafa;
} 

/*------------------------------------------------------- Time Picker */
.bootstrap-timepicker a {
    font-size: .75em;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
        background-color: rgba(163,197,246,.5);
    color: #1b75bc;
      border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.bootstrap-timepicker a:hover {
    background-color: rgba(163,197,246,1);
}

.bootstrap-timepicker .arw-up:before,
.bootstrap-timepicker .arw-dwn:before {
  font-size: 10px;
}


/*------------------------------------------------------- Tags */
/* TAG */
tags-input .tags {
  background-color: transparent;
}
tags-input .tags .tag-item,
tags-input .autocomplete .suggestion-item.selected,
tags-input .autocomplete .suggestion-item,
.input-tags {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .5px;
  color: #333;
   border-radius: 4px;
}

tags-input .tags .tag-item, /*If tag picker is located in gray box*/
tags-input .autocomplete .suggestion-item.selected,
tags-input .autocomplete .suggestion-item {
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

tags-input .tags .tag-item:hover, 
tags-input .autocomplete .suggestion-item.selected:hover,
tags-input .autocomplete .suggestion-item:hover {
  cursor: default;
}

.gray tags-input .tags .tag-item, /*If tag picker is located in gray box*/
.gray tags-input .autocomplete .suggestion-item.selected,
.gray tags-input .autocomplete .suggestion-item,
tags-input.ade-list-input .tags .tag-item:hover {
  background-color: white;
}


tags-input .tags .input:focus {
  border: 2px solid #1B75BC;
}

tags-input .autocomplete {
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

.input-tags {
    height: 1.8em;
    display: block;
    padding: 5px;
}

.input-tags:hover,
.input-list:hover {
  cursor: pointer;
}

tags-input.ade-list-input .tags .tag-item:hover {
  cursor: default;
}

/* LIST */
tags-input.ade-list-input .tags .tag-item,
tags-input.ade-list-input .autocomplete .suggestion-item.selected,
tags-input.ade-list-input .autocomplete .suggestion-item {
  text-transform: none;
  font-weight: normal;
  letter-spacing: none;
  font-size: .9em;
  border-radius: 0;
 }


 /*------------------------------------------------------- Input */

/*Overwrites*/
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/*Inputs*/
.input-large,
.input-medium,
.input-small,
.ade-input {
	border: 2px solid transparent;
  display: inline-block;
}

.input-large,
.input-large:focus {
  font-size: .9em;
} 

.input-large:focus,
.input-medium:focus,
.input-small:focus,
.ade-input:focus {
	border: 2px solid #1B75BC;
}

.input-large:hover,
.input-medium:hover,
.input-small:hover,
.ade-input:hover {
  cursor: pointer;
  color: #1B75BC;
}

.input-large:focus:hover,
.input-medium:focus:hover,
.input-small:focus:hover,
.ade-input:focus:hover {
  cursor: text;
  color: #333;
}

/*Inputs with Edit Options*/
.input-large a,
.input-medium a,
.input-small a{
  font-style: normal;
  text-decoration: none;
}

.input-large a:hover,
.input-medium a:hover,
.input-small a:hover {
  text-decoration: underline;
}

.input-options .minico:before {
  margin-right: .3em;
  color: #173C60;
}

.icon-star-empty:before {
  color: #747369;
}

.icon-star-empty:hover:before {
  cursor: pointer;
}

.icon-star:hover:before {
  cursor: pointer;
}


 /*------------------------------------------------------- Popovers */
.dropdown-menu {
	background-color: #FAFAFA;
	border: 0px;
	padding: 10px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;	
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

.ade-popup.dropdown-menu {
	font-size: .9em;
	color: #333;
}

.ade-popup.dropdown-menu:before { /*Up Arrow*/
  	border-bottom: 9px solid #E4E6E9;
}

.ade-popup.dropdown-menu:after { /*Up Arrow*/
  	border-bottom: 9px solid #FAFAFA;
}

.ade-popup.dropdown-menu.flip:before { /*Arrow Down Shadow*/
	border-bottom: 0px; 
	border-top: 9px solid rgba(0, 0, 0, 0.3);
	top: auto;
	bottom: -10px;
}

.ade-popup.dropdown-menu:after { /*Arrow Up Fill*/
	border-bottom: 9px solid #FAFAFA;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	content: "";
	left: 9px;
	position: absolute;
	top: -9px;
}

.ade-popup.dropdown-menu.flip:after { /*Arrow Down Fill*/
	border-bottom: 0px; 
	border-top: 9px solid #FAFAFA;
	top: auto;
	bottom: -9px;
}

.ade-popup.dropdown-menu.open,
.ade-nopop {
	border-radius: 0;
}

 /*------------------------------------------------------- Icon Popover */
.ade-popup.dropdown-menu.open h2,
.ade-nopop h2 {
  font-size: 1.3em;
  margin-top: 10px 0;
 }

.ade-icons .remove {
  display: block;
  margin: 10px 0;

}
.ade-icons .remove:before {
  margin-right: 3px;
}

.ade-icons .ade-icon {
  font-size: 1.3em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  display: inline-block;
  color: #747369;
  background-color: white;
  border: 1px solid #E4E6E9;
  margin: 2px;
}

.ade-icons .ade-icon:hover {
  background-color: #F5F5F3;
  color: #1B75BC;
  cursor: pointer;
}


.current-icon {
  color: #333;
}
.current-icon:hover {
  color: #1B75BC;
  cursor: pointer;
}

/*Links*/
.ade-edit-link * {
	display: none;
}
.ade-edit-link {
  color: #1B75BC;
  text-decoration: underline;
  margin-left: 8px;
}
.ade-links .minico:before {
  margin-right: 3px;
}
.ade-edit-link:hover {
	cursor: pointer;
}


