<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>ADE :: Icon Directive</title>
		<meta name="description" content=""/>
		<meta name="xviewport" content="width=device-width, user-scalable=no"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css"/>  
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="../common/ade.css"/>
		<link rel="stylesheet" href="../common/demo.css"/>
	</head>
	<body ng-app="app" ng-init="icon='music';icon3='asterisk';">
		<div class="container" ng-controller="ctrl">
				<!--[if lt IE 7]>
					 <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
				<![endif]-->
				<a href="../index.html">back</a>
				<h1>Icon Directive</h1>
				<p>A directive that allows you to pick an icon from a selection of <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> icons.</p>

				<div id="a" ade-icon ade-id="1001" tabindex="1" ng-model="icon"></div>
				<div id="b" ade-icon ade-id="1002" tabindex="2" ng-model="icon2"></div>

				<br />Without a popup: <span ng-bind-html="icon3 | icon"></span> <br />
				<div id="c" ade-icon ade-id="1002" ade-nopop="1" tabindex="2" ng-model="icon3"></div>

				<p>The directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>

				<b>Last Message :</b> <span id="message">{{ lastMessage }}</span>
		</div>
				
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="../common/ade.js"></script>
		<script src="../common/demoCtrl.js"></script>
		<script src="../common/demoApp.js"></script>

		<script src="icon_directives.js"></script>
		<script src="icon_filters.js"></script>
		 
	</body>
</html>
