 
/*------------------------------------------------------- Common CSS (ade.css) */
.datepicker {
	width: 240px;
	display:none; 
}

.datepicker.dropdown-menu {
	position: absolute;
}
.datepicker th.switch,
.datepicker span.month:hover,
.datepicker td.day:hover,
.datepicker th.next:hover,
.datepicker th.prev:hover {
	cursor: pointer;
}

.datepicker th.dow:hover {
	cursor: default;
}

.datepicker th.switch { /*Month & Year*/
	color: #1B75BC;
	font-weight: normal;
	font-size: 1.1em;
}

.datepicker th.switch:hover {
	text-decoration: underline;
}

.datepicker th.next,
.datepicker th.prev {
	background-color: rgba(0, 0, 0, 0.03);
	color: #1B75BC;
  	line-height: 25px;
  	overflow:hidden;
	border-radius: 15px;
  	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	-ms-border-radius: 15px;
  	-o-border-radius: 15px;
  	transition: all 0.2s ease-in-out;
  	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
} 

.datepicker th.next:hover,
.datepicker th.prev:hover {
	background-color: #1B75BC;
	color: white;
}

.datepicker th.dow { /*Days of the Week*/
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: .02em;
	color: rgba(0, 0, 0, 0.5);
}

.datepicker td.day,
.datepicker span.month,
.datepicker span.year {
	font-size: .9em;
}

.datepicker td.day.active,
.datepicker span.month.active,
.datepicker span.year.active,
.datepicker td.day.active:hover,
.datepicker span.month.active:hover,
.datepicker span.year.active:hover { /*Selected Item*/
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
} 

.datepicker td.day:hover,
.datepicker span.month:hover,
.datepicker span.year:hover {
	background-color: rgba(0, 0, 0, 0.03);
	cursor: pointer;
}

.datepicker td.day.new,
.datepicker td.day.old { /*Days in the Next Month*/
	color: rgba(0, 0, 0, 0.3);
}

.datepicker td.today,
.datepicker td.today:hover { 
	background: rgba(0, 0, 0, 0.03);
} 

.datepicker th.dow, /*Sets fixed sizes for each cell*/
.datepicker td.day,
.datepicker th.next,
.datepicker th.prev  {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.datepicker span.month,
.datepicker span.year {
	padding: 0;
	text-align: center;
	height: 40px;
	line-height: 40px;
	display: inline-block;
}

.datepicker span.month { /*5 columns*/
	width: 20%;
}

.datepicker span.year { /*4 columns*/
	width: 25%;
}


@media screen and (max-width: 480px) {
	
	.datepicker table {
		width:100%;
	}
}

