<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>ADE :: Date Directive</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, user-scalable=no"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css"/>  
		<link rel="stylesheet" href="../common/demo.css"/>
		<link rel="stylesheet" href="datepicker.css"/>
		<link rel="stylesheet" href="../common/ade.css"/>
	</head>
	<body ng-app="app" ng-init="date2a=[1357027200, 1357027200, 420];">
		<div class="container" ng-controller="ctrl" xstyle="width:1000px; position: absolute;">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<a href="../index.html">back</a>		
		<h1>Datejs</h1>
		<p><a href="http://www.datejs.com/">Datejs</a> is a nice library for working with dates.  We made some substantial modifications to it to suit our needs with parsing user entered date strings like "today" and "Next Thursday".</p>
		<ul>
		<li>Try it: <input type="text" class="input-medium" id="input" value="today" /> <b>Unix:</b> <span id="unix"></span> <b>Text:</b> <span id="text"></span></li>
		<li><a href="../common/date.js">Source</a></li>
		<li><a href="tests/datejs/index.html">Tests</a></li>
		</ul>
		
		
		<h1>Date Filter</h1>
		<p>AngularJS already has a <a href="http://docs.angularjs.org/api/ng.filter:date">good filter</a> for dates. However, it only works in one scenario where you want the date/time printed in the user's local timezone.  If you want to print the absolute time, it didn't work. Our filter wraps angular's date filter and allows the display of absolute time.  To do this, you need to pass an array to our filter that has some additional information.</p>
		
		<p>The input is an array [timestamp,absolutetimestamp,timezone]</p>	
			<ul>
			<li>timestamp  = The true unix timestamp that represents this date. For example if someone in California chooses "July 15, 2013 6:00:00 PM" it will store 1373936400 (16 Jul 2013 01:00:00 GMT)</li>

			<li>absolutetimestamp = a timestamp that represents the user's selected date converted to GMT timezone. For example, if someone in California chooses "July 15, 2013 6:00:00 PM" it will store 1373911200 (15 Jul 2013 18:00:00 GMT)

			<li>timezone = the number of minutes that the setter is off from GMT. Typically this will be equal	to (timestamp-absolutetimestamp)/60, but may not if daylight savings time is in affect. It should be the value returned from getTimezoneOffset() for the user.</li>
			</ul>
		<p>The options passed are also an array [format,absolute,showTimezone]</p>
			<ul>
			<li>format = a string such as "medium" just like AngularJS uses for their filter</li>
			<li>absolute = a boolean whether to show the absolute time without converting for timezone</li>
			<li>showTimezone = a boolean that controls whether to show the offset from the current timezone if different.</li>
			</ul>

		<p>Examples (set your computer's clock to different timezones to see the changes):</p>
		<ul>
		<li>[1373936400,1373911200,420] | validDate:['medium',true,false] : {{ [1373936400,1373911200,420] | validDate:['medium',true,false] }} </li>
		<li>[1373936400,1373911200,420] | validDate:['mediumDate',true,true] : {{ [1373936400,1373911200,420] | validDate:['mediumDate',true,true] }} </li>
		<li>[1373936400,1373911200,420] | validDate:['mediumDate',false,true] : {{ [1373936400,1373911200,420] | validDate:['mediumDate',false,true] }} </li>
		<li>[0,0] | validDate:['medium'] : {{ [0,0] | validDate:['medium'] }} </li>
		</ul>
		
		<h1>Date Directives</h1>
		<p>There is a nice library called <a href="http://www.eyecon.ro/bootstrap-datepicker">Datepicker for Bootstrap</a> that uses <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> to make a popup calendar. We made some substantial modifications to get it to work with the Datejs library and AngularJS. In addition to clicking on the popup calendar, you can also type in things like "today" or "next week". Try it.</p>

		
		Year<br />
		<input ade-calpop="yyyy" ade-yearonly="1" ng-model="date1a" type="text" class="input-small" /><br />
		Date<br />
		<input ade-calpop="MMM d, yyyy" ng-model="date1b" type="text" class="input-small" /><br />
		Date + Time<br />
		<input ade-calpop="MMM d, yyyy h:mm:ss a" ng-model="date1c" type="text" class="input-large" /><br />
		Button<br />
		<div class="input-append date">
			<input ng-model="date1d" type="text" class="input-small" />
			<span class="add-on"><i class="icon-calendar" ade-calpop="MMM d, yyyy" ng-model="date1d" ></i></span>
		</div>

		<p>There is also a directive for making a non-input element editable:</p>


		<div ng-controller="ctrl">
			Year<br />
			<div class="ade-editme" ade-date='yyyy' ade-class="input-small" ade-id="1234" ade-absolute="0" ade-timezone="0" ade-hover="0" ng-model="date2a"></div><br />
			Date<br />
			<div class="ade-editme" ade-date='MMM d, yyyy' ade-class="input-medium" ade-id="1234" ade-absolute="0" ade-timezone="0" ng-model="date2a"></div><br />
			Date + Time<br />
			<div class="ade-editme" ade-date='MMM d, yyyy h:mm:ss a' ade-class="input-large" ade-id="1234" ade-absolute="0" ade-timezone="0" ng-model="date2a"></div><br />
			Button<br />
			<div class="ade-editme" ade-date='MMM d, yyyy' ade-class="input-medium" ade-id="1234" ade-absolute="0" ade-timezone="0" ade-button="1" ng-model="date2a"></div><br />
		</div>
		<p>The non-input directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>

		<b>Last Message :</b> <span id="message">{{ lastMessage }}</span>

		</div>

		<!-- Scripts -->

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="../common/ade.js"></script>
      <script src="../common/date.js"></script>
		<script src="../common/demoCtrl.js"></script>
		<script src="../common/demoApp.js"></script>
		<script src="bootstrap-datepicker.js"></script>
		<script src="date_filters.js"></script>
		<script src="date_directives.js"></script>
		
		<script type="text/javascript">
			var currentOffset = new Date().getTimezoneOffset(); //seconds

			function updateDate() {
				var unix = parseDateString($("#input").val());
				$('#unix').text(unix);
				var date = new Date(unix*1000);
				$('#text').text(date.toString());
			}
			$(document).ready(function() {
				updateDate();
				$("#input").on("keyup", updateDate);
			});
		</script>
		
	</body>
</html>
