<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>ADE :: List Directive</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href="../common/ng-tags-input/ng-tags-input.css"/>
		<link rel="stylesheet" href="../common/ng-tags-input/ng-tags-input.bootstrap.css"/>
		<link rel="stylesheet" href="../common/demo.css"/>
		<link rel="stylesheet" href="../common/ade.css"/>
	</head>
	<body ng-app="tagapp" ng-init="data='apple';">
		<div class="container" ng-controller="TagCtrl">
				<!--[if lt IE 7]>
					 <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
				<![endif]-->
				<a href="../index.html">back</a>
				<h1>List Directive</h1>
				<p>A directive that allows you to pick a value from a list. It allows you to programatically fill the list with options, and it allows the user to add a new option if the one they want isn't included (this is configurable). Uses a modified version of <a href="http://mbenford.github.io/ngTagsInput">ngTagsInput</a>.</p>

				<tags-input ng-model="tags" min-length="1" max-tags-force="1" replace-spaces-with-dashes="false" tabindex="1" enable-editing-last-tag="true" placeholder="...">
					<auto-complete source="query($query,'list1')" min-length="1" load-on-empty="true" load-on-focus="true"></auto-complete>
				</tags-input>
				<br /><br />

				<div class="ade-editme" ade-list='list1' ade-query="query(val,listId)" ade-id="1001" tabindex="2" ng-model="data"></div>
				<br />
				<div class="ade-editme" ade-list='list2' ade-query="query(val,listId)" ade-id="1002" tabindex="3" ng-model="data2"></div>
			
					
				<p>The directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>

				<b>Last Message :</b> <span id="message">{{ lastMessage }}</span>
		</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="../common/ade.js"></script>
		<script src="../common/demoTagCtrl.js"></script>
		<script src="../common/demoApp.js"></script>

		<script src="../common/ng-tags-input/ng-tags-input.js"></script>
		<script src="list_directives.js"></script>
		 
	</body>
</html>
