<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title></title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href="vendor/css/bootstrap.css"/>
		<link rel="stylesheet" href="vendor/css/font-awesome.css"/>
		<link rel="stylesheet" href="vendor/css/datepicker.css"/>
		<link rel="stylesheet" href="vendor/css/timepicker.css"/>
		<link rel="stylesheet" href="vendor/css/select2.css"/>
		
		<!-- build:css build/ade-1.2.min.css -->
		<link rel="stylesheet" href="common/ade.css"/>
		<!-- endbuild -->

		<script src="vendor/js/jquery-1.9.1.min.js"></script>
		<script src="vendor/js/jquery.json-2.3.min.js"></script>
		<script src="vendor/js/angular.js"></script>
		<script src="vendor/js/angular-sanitize.js"></script>
		<script src="vendor/tinymce/tinymce.min.js"></script>
		<script src="common/demoApp.js"></script>
		<script src="common/demoCtrl.js"></script>
		<script src="common/demoListCtrl.js"></script>
		
		<!-- build:js build/ade-1.2.min.js -->
		<script src="common/date.js"></script>
		<script src="common/ade.js"></script>
		<script src="common/number_directive.js"></script>
		<script src="common/url_directive.js"></script>
		<script src="date/bootstrap-datepicker.js"></script>
		<script src="date/date_filters.js"></script>
		<script src="date/date_directives.js"></script>
		<script src="decimal/decimal_filters.js"></script>
		<script src="email/email_filters.js"></script>
		<script src="icon/icon_directives.js"></script>
		<script src="icon/icon_filters.js"></script>
		<script src="integer/integer_filters.js"></script>
		<script src="duration/duration_directives.js"></script>
		<script src="duration/duration_filters.js"></script>
		<script src="list/list_directives.js"></script>
		<script src="list/list_filters.js"></script>
		<script src="list/select2.js"></script>
		<script src="rich/rich_filters.js"></script>
		<script src="rich/rich_directives.js"></script>
		<script src="money/money_filters.js"></script>
		<script src="percent/percent_filters.js"></script>
		<script src="phone/phone_filters.js"></script>
		<script src="rating/rating_directives.js"></script>
		<script src="rating/rating_filters.js"></script>
		<script src="text/text_directives.js"></script>
		<script src="time/bootstrap-timepicker.js"></script>
		<script src="time/time_directives.js"></script>
		<script src="time/time_filters.js"></script>
		<script src="toggle/toggle_directives.js"></script>
		<script src="toggle/toggle_filters.js"></script>
		<script src="url/url_filters.js"></script>
		<!-- endbuild -->

		<style>
			h1 { margin:20px 0px;}
			.sample { background-color: #eee; height:19px; padding:10px; cursor:pointer; display:inline-block;}
		</style>
	</head>
	<body ng-app="app" ng-init="datatext='click to edit me';datalongtext='click to edit this very very very long text'; datatime=1000;dataicon='glass';dataurl='http://www.github.com';datatoggle=true;datadate=1357601471;dataemail='example@example.com';dataphone='111-555-1234';datarate=4;datapercent=50;datalen=90;datacurrency=4.50;datadec=1.2;dataint=9;datasingle='apple';datamulti=['dog','cat']" >
		<a href="https://github.com/Toodledo/ADE"><img style="position: absolute; top: 0; right: 0; border: 0;" src="vendor/img/forkme_right_red.png" alt="Fork me on GitHub"></a>

		<div class="container" ng-controller="ctrl">
		<h1>AngularJS Datatype Editors (ADE)</h1>
		<p>ADE is a bunch of modules for displaying and editing various types of data, using <a href="http://angularjs.org/">AngularJS</a>. The typical way that we have seen this done is to have hidden input boxes that toggle to visible when clicked.  The important difference with ADE is that the input box is created and destroyed only when needed, so the DOM is not filled with unused elements. This can be a benefit when you have lots of editable things on the page.</p>

		<p>ADE requiers jquery, bootstrap, and angular.  You can find us on <a href="https://github.com/Toodledo/ADE">GitHub</a>.</p>

		<b>Download:</b> <a href="build/ade-1.2.zip">ADE 1.2b</a> 

		<br />

		<br /><h2>Text</h2><br />

		<a href="text/">Text (Short)</a> - Edit text in-line. There is no max length, but it is indented for short strings.<br />
			Example: <div class="sample" ade-text='{"className":"input-large"}' ng-model="datatext">{{datatext}}</div>
			<br /><br />

		<a href="rich/">Text (Long)</a> - A popup text area for editing large amounts of richly formatted text.<br />
			Example: <div class="sample" ade-rich='{"className":"input-xlarge"}' ng-model="datalongtext" ng-bind-html="datalongtext | rich:25"></div>
			<br /><br />

		<a href="url/">URL</a> - A filter to make links clickable, and a way to edit them in place.<br />
			Example:  <div class="sample" ade-url='{"className":"input-medium"}' ng-model="dataurl" ng-bind-html="dataurl | url"></div>
			<br /><br />

		<a href="email/">Email Address</a> - A filter to make email address clickable to email, and a way to edit them in place.<br />
			Example: <div class="sample" ade-url='{"className":"input-medium","type":"email"}' ng-model="dataemail" ng-bind-html="dataemail | email"></div>
			<br /><br />

		<a href="phone/">Phone Number</a> - A filter to make a phone number clickable to call (on support devices) and a way to edit them in place.<br />
			Example: <div class="sample" ade-url='{"className":"input-medium","type":"phone"}' ng-model="dataphone" ng-bind-html="dataphone | phone"></div>
			<br /><br />
		

		<br /><h2>Dates</h2><br />
		
		<a href="date/">Date</a> - Formats a unix timestamp as a date (Jan 1, 2013) and provides a popup calendar for editing.<br />
			Example: <div class="sample" ade-date='{"className":"input-medium","format":"MMM d, yyyy"}' ng-model="datadate">{{datadate | validDate:'MMM d, yyyy'}}</div>
			<br /><br />
		
		<a href="date/">Date + Time</a> - Formats a unix timestamp as a date + time (Jan 1, 2013 11:45 am)  and provides a popup calendar for editing.<br />
			Example: <div class="sample" ade-date='{"className":"input-large","format":"MMM d, yyyy h:mm:ss a"}' ng-model="datadate">{{datadate | validDate:'MMM d, yyyy h:mm:ss a'}}</div>
			<br /><br />
		
		<a href="date/">Year</a> - Formats a unix timestamp as a year  (2013) and provides a popup calendar for editing.<br />
			Example: <div class="sample" ade-date='{"className":"input-small","format":"yyyy"}' ng-model="datadate">{{datadate | validDate:'yyyy'}}</div>
			<br /><br />
		
		<a href="time/">Time</a> - Formats an integer as a time of the day and provides a popup widget for edting the time.<br />
			Example: <div class="sample" ade-time ng-model="datatime">{{ datatime | time}}</div>
			<br /><br />
		
		<br /><h2>Numeric</h2><br />

		<a href="money/">Money</a> - Formats a decimal as currency, rounded to 2 decimal places witha $ in front.<br />
			Example: <div class="sample" ade-number='{"className":"input-small"}' ng-model="datacurrency">{{ datacurrency | money }}</div>
			<br /><br />

		<a href="decimal/">Decimal</a> - Formats a decimal with a certain precision.<br />
			Example: <div class="sample" ade-number='{"className":"input-medium"}' ng-model="datadec">{{ datadec | decimal }}</div>
			<br /><br />

		<a href="integer/">Integer</a> - Formats an integer.<br />
			Example: <div class="sample" ade-number='{"className":"input-medium"}' ng-model="dataint">{{ dataint | integer }}</div>
			<br /><br />

		<a href="percent/">Percent</a> - Formats a decimal as a percentage with an appended percent sign.<br />
			Example: <div class="sample" ade-number='{"className":"input-small"}' ng-model="datapercent">{{ datapercent | percent}}</div>
			<br /><br />

		<a href="duration/">Duration</a> - Formats a number as a time duration (4hrs 24mins). <br />
			Example: <div class="sample" ade-duration='{"className":"input-medium"}' ng-model="datalen">{{ datalen | duration }}</div>
			<br /><br />
		
		<br /><h2>Other</h2><br />
	
		<div ng-controller="SelectCtrl">
		<a href="list/">List (pick one)</a> - Presents a popup list to choose one value from.<br />
			Example:  <div class="ade-list sample" ade-list='{"id":123,"multiple":false,"query":"query","listId":"list1"}' ng-model="datasingle">{{datasingle | list:1}}</div>
			<br /><br />

		<a href="list/">List (pick multiple)</a> - Presents a popup list to choose multiple values from. <br />
			Example: <div class="ade-list sample" ade-list='{"id":1234,"multiple":true,"query":"query","listId":"list2"}' ng-model="datamulti">{{datamulti | list:0}}</div>
			<br /><br />
		</div>
		
		<a href="rating/">Rating</a> - Presents an integer as a specificed number of stars so you can rate things.<br />
			Example: <div style="display:inline-block;" ade-rating='{"num":10}' ng-model="datarate" ng-bind-html-unsafe='datarate | rating:{className:"rating_s",width:16,num:10}'></div>
			<br /><br />
		
		<a href="toggle/">Toggle Icon (Star/Checkbox)</a> - A boolean that is represented as an image that can be toggled between two states.<br />
			Example: <div style="display:inline-block;" ade-toggle ng-model="datatoggle" ng-bind-html="datatoggle | toggle:'star'"></div> <div style="display:inline-block;" ade-toggle ng-model="datatoggle2" ng-bind-html="datatoggle2 | toggle:'check'"></div>
			<br /><br />
		
		<a href="icon/">Icon</a> - An icon that can be switched between a number of different options with a popup editor.<br />
			Example: <a ade-icon ng-model="dataicon" ng-bind-html="dataicon | icon"></a>
			<br /><br />

		<br /><h2>Future Ideas</h2><br />
		Location - Displays a location with a popup map for editing. <br />
			<br /><br />
		QR Barcode - Displays a QR code with ability to edit encoded values.<br />
			<br /><br />
		Stock Price - Displays a stock with price. Price updates automatically.<br />
			<br /><br />
		
		</div>
		<br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br />
	</body>
</html>