 
/* ADE Tag Picker */

.ade-tags {
    width: 350px;
}

.ade-list {
    width: inherit;
    height: 39px;
}


/* ------------------------------------ Base Style & Overwrites */
tags-input {
  display: inline-block; 
}

tags-input *, tags-input *:before, tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

tags-input .tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 1px 1px 0px 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: transparent;
  height: 100%;
}

tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 300px;
  min-width: 120px;
  white-space: normal;
}

tags-input .autocomplete .suggestion-item {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}

tags-input .host:active {
  outline: none;
}

tags-input .tags.focused {
  outline: none;
}

tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float:left;
}

/* ---------------------------------------------- General Tag Styles */
/* TAG */
tags-input .tags .tag-item,
tags-input .autocomplete .suggestion-item.selected,
tags-input .autocomplete .suggestion-item {
  background-color: #eee;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  display: inline-block;
  margin: 5px;
  color: #333;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}

tags-input .autocomplete .suggestion-item {
  max-width: 200px;
}

tags-input .autocomplete .suggestion-item.selected {
  background-color: #ccc;
}

tags-input .tags .tag-item:hover,
tags-input .autocomplete .suggestion-item.selected:hover,
tags-input .autocomplete .suggestion-item:hover {
  background-color: #ccc;
  cursor: pointer;
}


/* LIST */
tags-input.ade-list-input .tags .tag-item,
tags-input.ade-list-input .autocomplete .suggestion-item.selected,
tags-input.ade-list-input .autocomplete .suggestion-item {
  height: 26px;
  background-color: #fafafa;
  line-height: 26px;
  padding: 0 10px;
  margin: 0;
  display:block;
  z-index: 1000;
  border-radius: 0;
}

tags-input.ade-list-input .autocomplete .suggestion-item.selected {
  background-color: #eee;
}

tags-input.ade-list-input .tags .tag-item:hover {
  cursor: default;
}


/* ---------------------------------------------- Searched Character */
tags-input .autocomplete .suggestion-item.selected em,
tags-input .autocomplete .suggestion-item em {
  color: #000;
  background-color: #FFFF38;
  padding: 3px 0;
  font-style: normal;
} 


/* ---------------------------------------------- Cancel tag (x) */
tags-input .tags .tag-item .remove-button {
  vertical-align: middle;
}

tags-input .tags .tag-item .remove-button {
  margin: 1px 0 0 3px;
  padding: 0;
  font-size: 16px;
  color: #747369;
  border: none;
  background: none;
  cursor: pointer;
  float:right;
}

tags-input .tags .tag-item .remove-button:hover,
tags-input .tags .tag-item .remove-button:active {
  color: #333333;
  text-decoration: none;
}

/* --------------------------------- Existing Tags in input area */

/* TAG */
tags-input .tags .tag-item {
  display: inline-block;
  float: left;
}

tags-input .tags .tag-item:hover {
  background-color: #eee;
}


/* LIST */
tags-input.ade-list-input .tag-list {
  float:right;
  margin-left: 10px;
}

tags-input.ade-list-input .tags .tag-item {
  float: none;
  display: inline-block;
  background-color: #eee;
}

tags-input.ade-list-input .tags .tag-item:hover {
  background-color: #eee;
}

tags-input .tags .tag-item span {
  max-width: 200px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
/* ----------------------------------------------- New Tag Input */

/* TAG */
tags-input .tags .input {
  outline: none;
  float: left;
  line-height: 1.8em;
  height: 1.8em;
  padding: 0 .5em;
  font-size: 1em;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 6px 5px 0 5px;
}


/* LIST */
.ade-list tags-input {
  width:100%;
}

tags-input.ade-list-input .tags {
  white-space: nowrap;
}

tags-input.ade-list-input .tags .input {
  float: none;
  margin: 2px 0 0 0;
  width: 100%;
  border: 1px solid #a1a1a1;
}

/* -------------------------------------- Tag Suggestion Popover */

/* TAG */
tags-input .ade-tag-suggestion {
  padding-left:6px;
  margin:10px 0px 0px 0px;
}

tags-input .ade-tag-emptytip {
  display:none;
  padding-left:6px;
  margin:10px 0px 0px 0px;
}

tags-input .autocomplete {
  padding: 5px 5px 2px 5px;
  z-index: 999;
  background-color: #fafafa;
}

/* LIST */
tags-input.ade-list-input .autocomplete {
  padding: 0;
  margin: 0;
}

/* ----------------------------------------------- Invalid Tag */
tags-input .tags .input.invalid-tag {
  color: #DB2625;
}