
/* ADE Tag Picker */

/* ------------------------------------ Base Style & Overwrites */
tags-input {
  display: block; 
}

tags-input *, tags-input *:before, tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

tags-input .tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: white;
  height: 100%;
}

tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

tags-input .autocomplete .suggestion-item {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}

tags-input .host:active {
  outline: none;
}

tags-input .tags.focused {
  outline: none;
}

tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ---------------------------------------------- General Tag Styles */
/* TAG */
tags-input .tags .tag-item,
tags-input .autocomplete .suggestion-item.selected,
tags-input .autocomplete .suggestion-item {
  background-color: #eee;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  display: inline-block;
  margin: 5px;
}

tags-input .tags .tag-item:hover,
tags-input .autocomplete .suggestion-item.selected:hover,
tags-input .autocomplete .suggestion-item:hover {
  background-color: #ccc;
}


/* LIST */
tags-input.ade-list-input .tags .tag-item,
tags-input.ade-list-input .autocomplete .suggestion-item.selected,
tags-input.ade-list-input .autocomplete .suggestion-item {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  margin: 0;
  display:block;
  border-bottom: 1px solid  #eaeaea;
  z-index: 1000;
}

tags-input.ade-list-input .tags .tag-item:hover,
tags-input.ade-list-input .autocomplete .suggestion-item.selected:hover,
tags-input.ade-list-input .autocomplete .suggestion-item:hover {
  background-color: #ccc;
}

/* ---------------------------------------------- Searched Character */
tags-input .autocomplete .suggestion-item.selected em,
tags-input .autocomplete .suggestion-item em {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .5px;
  color: #000;
  background-color: #E4E6E9;
  padding: 3px 0;
  font-style: normal;
} 

/* ---------------------------------------------- Cancel tag (x) */
tags-input .tags .tag-item .remove-button {
  vertical-align: middle;
}

tags-input .tags .tag-item .remove-button {
  margin: 1px 0 0 3px;
  padding: 0;
  font-size: 16px;
  color: #747369;
  border: none;
  background: none;
  cursor: pointer;
}

tags-input .tags .tag-item .remove-button:hover,
tags-input .tags .tag-item .remove-button:active {
  color: #333333;
  text-decoration: none;
}

/* --------------------------------- Existing Tags in input area */

/* TAG */
tags-input .tags .tag-item {
  display: inline-block;
  float: left;
}

tags-input .tags .tag-item:hover {
  background-color: #eee;
}


/* LIST */
tags-input.ade-list-input .tags .tag-item {
  float: none;
  display: inline-block;
}

tags-input.ade-list-input .tags .tag-item:hover {
  background-color: #eee;
}


/* ----------------------------------------------- New Tag Input */

/* TAG */
tags-input .tags .input {
  border: 0;
  outline: none;
  border: 2px solid transparent;
  float: left;
  line-height: 1.8em;
  height: 1.8em;
  padding: 0 .5em;
  font-size: 1em;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 100px;
  margin: 5px;
}

/* LIST */
tags-input.ade-list-input .tags .input {
  float: none;
  margin: 10px 0 0 0;
  width: 100%;
  border: 1px solid #a1a1a1;
}

/* -------------------------------------- Tag Suggestion Popover */

/* TAG */
tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #a1a1a1;
}

/* LIST */
tags-input.ade-list-input .autocomplete {
  padding: 0;
  margin: 0;
}

/* ----------------------------------------------- Invalid Tag */
tags-input .tags .input.invalid-tag {
  color: #DB2625;
}







