<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>ADE :: Email Directive</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css"/>  
		<link rel="stylesheet" href="../common/demo.css"/>
      <link rel="stylesheet" href="../common/ade.css" />
	</head>
	<body ng-app="app" ng-init="emailstring='admin@toodledo.com'" >
		<div class="container" ng-controller="ctrl">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<a href="../index.html">back</a>
      <h1>Email Filter</h1>
      <p>Angular's built in linky filter is sufficient for email addresses.</p>
        <ul>
            <li>Email admin@toodledo.com: <span ng-bind-html="'admin@toodledo.com' | email"></span> </li>
            <li>Invalid email "email": <span ng-bind-html='"email" | email'></span></li>
        </ul>

		<h1>Email editing directive</h1>
		<p>A directive that makes an email address editable.</p>


      <div class="ade-editme" ade-url='email' ade-class="input-medium" ade-id="1234" ng-model="emailstring"></div>
      
      <div class="ade-editme" ade-url='email' ade-class="input-medium" ade-id="1235" ng-model="emailstring2"></div>

		<p>The directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>

		<b>Last Message :</b> <span id="message" ng-controller="ctrl">{{ lastMessage }}</span>

		</div>
		
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="../common/ade.js"></script>
		<script src="../common/demoCtrl.js"></script>
		<script src="../common/demoApp.js"></script>
		<script src="../common/url_directive.js"></script>
      <script src="email_filters.js"></script>
		
	</body>
</html>
