<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>ADE :: Phone Directive</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css"/>  
		<link rel="stylesheet" href="../common/demo.css"/>
		<link rel="stylesheet" href="../common/ade.css"/>
	</head>
	<body ng-app="app" ng-init="phone='760-555-1234';phone2=''">
		<div class="container" ng-controller="ctrl">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<a href="../index.html">back</a>
		<h1>Phone filter</h1>
		<p>A filter that convert a phone string into a clickable link that should work on a device that supports phone calls.</p>

		  <ul>
				<li>Phone 760-555-1234: <span ng-bind-html="'760-555-1234' | phone"></span> </li>
				<li>Invalid phone "phone": <span ng-bind-html='"phone" | phone'></span></li>
		  </ul>

		<h1>Phone number editing directive</h1>
		<p>A simple directive that makes a phone number string editable.</p>

		<div class="ade-editme" ade-url='phone' ade-id="123" ade-class="input-medium" ng-model="phone"></div>
		<div class="ade-editme" ade-url='phone' ade-id="125" ade-class="input-medium" ng-model="phone2"></div>
		
		<p>The directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>

		<b>Last Message :</b> <span id="message" ng-controller="ctrl">{{ lastMessage }}</span>

		</div>
		
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="../common/ade.js"></script>
		<script src="../common/demoCtrl.js"></script>
		<script src="../common/demoApp.js"></script>
		<script src="../common/url_directive.js"></script>
		<script src="phone_filters.js"></script>
		
	</body>
</html>
