<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>ADE :: Rich text Directive</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css"/>  
		<link rel="stylesheet" href="../common/demo.css"/>
      <link rel="stylesheet" href="../common/ade.css"/>
	</head>
	<body ng-app="app" ng-init="data='click to edit this very very very very very very very very very very very very very very very very very very very very very very very very long text';data2='p'" >
		<div class="container" ng-controller="ctrl">
			<!--[if lt IE 7]>
				<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
			<![endif]-->
			<a href="../index.html">back</a>
			<h1>Text editing directive</h1>
			<p>A directive that makes a text string editable.</p>
			<p>This directive has an external dependency on <a href="http://www.tinymce.com">TinyMCE</a> which we have slightly modified to enable tab/esc keys to function.</p>

			<div class="ade-editme" tabindex="1" ade-rich ade-class="input-xlarge" ade-id="1234" ade-max="2000" ade-cut="40" ng-model="data"></div>

			<br />
			
			<div class="ade-editme" tabindex="2" ade-rich ade-class="input-xlarge" ade-id="1235" ade-max="10" ade-cut="40" ng-model="data2"></div>

			{{ data | rich:30 }}

			<p>The directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>

			<b>Last Message :</b> <span id="message">{{ lastMessage }}</span>
		</div>
		
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="../common/ade.js"></script>
		<script src="../common/demoCtrl.js"></script>
		<script src="../common/demoApp.js"></script>
		<script src="rich_directives.js"></script>
		<script src="rich_filters.js"></script>
		<script src="tinymce/tinymce-ade.min.js"></script>
	</body>
</html>
