<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>ADE :: Rating Directive</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css"/>  
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="../common/demo.css"/>
		<link rel="stylesheet" href="../common/ade.css"/>
	</head>
	<body ng-app="app" ng-init="value=1">
		<div class="container" ng-controller="ctrl">
				<!--[if lt IE 7]>
					 <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
				<![endif]-->
				<a href="../index.html">back</a>
				<h1>Rating edit directive</h1>
				<p>A simple directive that makes a star rating clickable. Supports customizable icons, sizes and number of stars.</p>


				<div ade-rating ade-id='1001' tabindex="1" ng-model="value"></div> 
				<br />

				<div ade-rating ade-id='1002' ade-num="10" ade-class="icon-heart" ade-width="16" ade-arrows="1" tabindex="2" ng-model="value"></div>
				<br />

				<div ade-rating ade-id='1002' ade-num="3" ade-class="icon-check" ade-width="16" ade-arrows="1" tabindex="2" ng-model="value"></div>
				<br />

				<div ade-rating ade-id='1002' ade-num="5" ade-class="icon-bookmark" ade-width="16" ade-arrows="1" tabindex="2" ng-model="value"></div>


				<br />Value: {{ value }}

				<br /><br />
				<p>The directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>

				<b>Last Message :</b> <span id="message">{{ lastMessage }}</span>

		</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="../common/ade.js"></script>
		<script src="../common/demoCtrl.js"></script>
		<script src="../common/demoApp.js"></script>
		<script src="rating_directives.js"></script>
		  
	</body>
</html>
