.rating{position:relative;overflow:hidden;z-index:1;height:20px;}
.rating .stars{position:relative;top:-20px;left:0;z-index:3;height:20px;background: url(rating.png) repeat-x 0 0;}
.rating .stars .star{width:23px;height:20px;display:inline-block;cursor:pointer;}
.rating .bg{position:relative;top:0;left:0;z-index:2;height:100%;background-color:#B57A15;}