<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title></title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css"/>  
	<link rel="stylesheet" href="select2.css"/>
	<link rel="stylesheet" href="../common/ade.css"/>
	<link rel="stylesheet" href="../common/demo.css"/>
</head>
<body ng-app="app" ng-init="datamulti=['watermelon','apple'];datasingle='cherry';datasingle2='pineapple';datamulti2=['dog','cat']">
	<div class="container" ng-controller="SelectCtrl" >
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<a href="../index.html">back</a>
		<h1>Select 2 Wrapper</h1>
		<p>A directive that allows you to pick a value from a list. It allows you to programatically fill the list with options, and it allows the user to add a new option if the one they want isn't included (this is configurable). We extracted some code from the <a href="http://angular-ui.github.com">Angular UI</a> project to do this and use the <a href="http://ivaynberg.github.com/select2/">Select2</a> library.</p>

		<p>Your controller will need to supply a query() and selection() function (see our examples).</p>
		<ul>
			<li><b>query()</b> is responsible for returning a list of matches based on what the user has typed.</li> 
			<li><b>selection()</b> is responsible for returning the entire list of options. </li> 
		</ul>

		<br />

		<b>Pick one:</b>
		<input type="hidden" ui-select2="{width:'resolve',allowClear:true,openOnEnter:false,allowAddNewValues:true,query:query,placeholder:'List...',initSelection:selection,listId:'list1'}" ng-model="datasingle" />
		<br /><br />
		<b>Pick Multiple:</b>
		<input type="hidden" ui-select2="{width:'resolve',allowClear:true,openOnEnter:false,allowAddNewValues:true,query:query,placeholder:'List...',initSelection:selection,listId:'list1'}" multiple="multiple" ng-model="datamulti" />

		<h1>List Directive</h1>

		<p>The directive will handle editing the list value for a non-input element.</p>

		<b>Pick one:</b> <br />
		<div class="ade-editme" ade-list='list1' ade-query="query(options,listId)" ade-selection="selection(element,callback,listId)" ade-id="2345" ade-multiple="0" ng-model="datasingle2"></div>
	 
		<br />
		<b>Pick Multiple:</b> <br />
		<div class="ade-editme" ade-list='list2' ade-query="query(options,listId)" ade-selection="selection(element,callback,listId)" ade-id="1345" ade-multiple="1" ng-model="datamulti2"></div>

		<p>The directive will broadcast a message when the edit starts and when it finishes so that your controllers and models can handle the edit properly.</p>
  
		<b>Last Message :</b> <span id="message" ng-controller="ctrl">{{ lastMessage }}</span>
	</div>

	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

	<script src="../common/ade.js"></script>
	<script src="../common/demoCtrl.js"></script>
	<script src="../common/demoListCtrl.js"></script>
	<script src="../common/demoApp.js"></script>

	<script src="list_directives.js"></script>
	<script src="select2.js"></script>

	

</body>
</html>
